.tab {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tab.active {
    background-color: #ccc;
}

.tab.active + .tab-content {
    display: block;
}